RewriteEngine On

RewriteRule ^home index.php [NE,L]

RewriteRule ^daily-office daily-office.php [NE,L]

RewriteRule ^morning-prayer morning-prayer.php [NE,L]

RewriteRule ^morning-prayer-brief morning-prayer-brief.php [NE,L]

RewriteRule ^evening-prayer evening-prayer.php [NE,L]

RewriteRule ^evening-prayer-brief evening-prayer-brief.php [NE,L]

RewriteRule ^hourly-office hourly-office.php [NE,L]

RewriteRule ^occasional-office occasional-office.php [NE,L]

RewriteRule ^litany litany.php [NE,L]

RewriteRule ^penitential-office penitential-office.php [NE,L]

RewriteRule ^psalter psalter.php [NE,L]

RewriteRule ^psalm(.*) psalm.php [NE,L]

RewriteRule ^dailym(.*) dailym.php [NE,L]

RewriteRule ^dailye(.*) dailye.php [NE,L]

RewriteRule ^family-prayer family-prayer.php [NE,L]

RewriteRule ^prayers-and-thanksgivings prayers-and-thanksgivings.php [NE,L]

RewriteRule ^visitation-of-the-sick visitation-of-the-sick.php [NE,L]

RewriteRule ^collects collects.php [NE,L]

RewriteRule ^church-year church-year.php [NE,L]

RewriteRule ^sunday(.*) sunday.php [NE,L]

RewriteRule ^kallender(.*) kallender.php [NE,L]

RewriteRule ^catholic(.*) catholic.php [NE,L]

RewriteRule ^bcpcal(.*) bcpcal.php [NE,L]

RewriteRule ^morn-pray(.*) morn-pray.php [NE,L]

RewriteRule ^even-pray(.*) even-pray.php [NE,L]

RewriteRule ^event(.*) event.php [NE,L]

RewriteRule ^event-calculation event-calculation.php [NE,L]

RewriteRule ^show-event-list show-event-list.php [NE,L]