@font-face {
    font-family: 'Orpheus-Pro';
    src: url("../fonts/Orpheus-Pro.otf");
}

@font-face {
    font-family: 'Orpheus-Pro-Bold';
    src: url("../fonts/Orpheus-Pro-Bold.otf");
}

@font-face {
    font-family: 'Orpheus-Pro-Medium';
    src: url("../fonts/Orpheus-Pro-Medium.otf");
}


/* Light Mode */
:root {
    --background-color: #cbc4b0;
    --dynamic-background-color: #ffffff;
    --text-color: #000;
    --link-color: #00008b;
}

/* Dark Mode */
.dark-mode {
    --background-color: #222;
    --dynamic-background-color: #565656;
    --text-color: #fff;
    --link-color: #7373ff;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul li {
    list-style: none;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Orpheus-Pro-Bold', sans-serif;
}


.cole-stone {
    color: #a29987;
}

.york-gray {
    color: #d3ccba;
}

.bruton-white {
    color: #d7d2c8;
}

.pelham-gray {
    color: #847a68;
}

.palace-ocher {
    color: #bc9a51;
}

.bishop-purple {
    color: #67032f;
}

.cpo-logo {
    max-width: 150px;
}

.cpo-title {
    letter-spacing: 2px;
}

.cpo-home-image {
    border: 5px solid #847a68;
}

.cpo-card {
    border: 5px solid #847a68;
    background: #d7d2c8;
}

.cpo-home-btn {
    border: 3px solid #847a68;
    border-radius: unset;
    background: #d7d2c8;
    color: black;
    font-weight: bold;
    height: 70px;
    margin: auto;
}

.cpo-home-btn:hover, .cpo-home-btn:active {
    border: 3px solid #847a68 !important;
    background: #847a68 !important;
    color: black !important;
}

.cpo-card-btn {
    background: #a29a85;
    padding: 5rem 1rem 4rem;
    border: 5px solid #d9d2c8;
    border-radius: 15px;
}

.cpo-btn-home {
    background-image: linear-gradient(#d5bd80, #bc9a51);
    border: 3px solid #827a65;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
}

.cpo-btn-home:hover, .cpo-btn-home:active {
    background-image: linear-gradient(#bc9a51, #bc9a51) !important;
    border: 3px solid #827a65 !important;
    color: black !important;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
}

.cpo-footer-bg {
    background: #d7d2c8;
}

.cpo-footer-card {
    background: #d7d2c8;
    border: unset;
}

.cpo-footer-btn {
    border: 3px solid #847a68;
    border-radius: 10px;
    background: #bc9a51;
    color: black;
    font-weight: bold;
    margin: auto;
}

.cpo-footer-btn:hover, .cpo-footer-btn:active {
    border: 3px solid #847a68 !important;
    border-radius: 10px !important;
    background: #d5bd80 !important;
    color: black;
    font-weight: bold;
    margin: auto;
}

.cpo-content-page-title {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 3px solid var(--text-color);
}

#text-container {
    font-size: 16px;
}

.cpo-text {
    color: var(--text-color);
}


.cpo-dynamic-bg {
    background: var(--dynamic-background-color);
}

.cpo-bg {
    background: var(--background-color);
    border-bottom: 3px solid var(--text-color);
}

.cpo-body-padding-top {
    padding-top: 9rem;
}

.cpo-range {
    width: 95%;
}


.cpo-event-color-green {
    color: #03671f;
}


.cpo-event-color-purple {
    color: #7f007f;
}


.cpo-event-color-pink {
    color: #6C3461;
}


.cpo-event-color-red {
    color: #800000;
}


.cpo-event-color-white {
    color: #FFFFFF;
}

#cpo-scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    background-color: #bc9a51;
    color: white;
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 1px solid #847a68 !important;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
}

#cpo-scroll-to-top:hover {
    background-color: #847a68;
}

.cpo-table {
    --bs-table-color: var(--text-color);
    --bs-table-bg: #fff0;
}

.cpo-table > tbody > tr:nth-of-type(odd) > * {
    --bs-table-color-type: var(--text-color);
}

.cpo-red {
    background-color: #800000 !important;
    color: white !important;
}

.cpo-pink {
    background-color: #6C3461 !important;
    color: white !important;
}

.cpo-white {
    background-color: #f8f8ff !important;
    color: black !important;
}

.cpo-green {
    background-color: #0B4008 !important;
    color: white !important;
}

.cpo-red a, .cpo-green a, .cpo-pink a {
    color: white !important;
}

.cpo-white a {
    color: black !important;
}

.cpo-angelina-title {
    max-width: 500px;
    margin: auto;
    line-height: 2rem;
    letter-spacing: 2px;
}

.cpo-angli-url{
    color: var(--text-color);
}


.pray-btn {
    height: 35px;
    width: 105px;
    font-size: 11px;
    letter-spacing: 1px;
}

a.pray-btn {
    color: black !important;
}

@media (max-width: 768px) {
    #menu-items {
        display: none;
    }

    #mobile-menu-button {
        display: block;
        cursor: pointer;
    }

    .cpo-range {
        width: 85%;
    }

    .cpo-body-padding-top {
        padding-top: 6rem;
    }

    .pray-btn{
        font-size: 10px;
    }
}
